# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

build
.turbo
.rollup.cache

# editors
/.vscode/*
!/.vscode/extensions.json
/.idea
/.history


# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
*.pem

# debug
.pnpm-debug.log*

# local env files
.env*.local
*.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# esbuild bundle analyzer
esbuild-meta.json
esbuild-stats.html

# hardhat stuff
contracts/artifacts
contracts/cache
